## Day1 - 파이썬 기초(20.01.13)
input으로 받으면 str문자, int로 바꾸기

In [1]:
a = 90
print(a)

90

In [3]:
print("Hello world!")

Hello world!

In [8]:
s = "hello world"
s[2:9:3]

'l r'

2부터 9까지 3칸씩 출력(l,공백,r)

In [11]:
name ="Tom"
age=12

print("i am %s" %name)
print("i am %s, %d years old" %(name, age))

i am Tom
i am Tom, 12 years old

In [15]:
"i like {0},{1}" .format("apple", "banana")

'i like apple,banana'

변수종류를 알땐 위에방법 모르면 .format

In [14]:
math = 95
english = 65
print(f"수학점수: {math}, 영어점수: {english}")

수학점수: 95, 영어점수: 65

In [36]:
a="20200113chicken19000"

year= a[0:4]
day= a[4:8]
menu=a[8:15]
money=a[15:20]

print("오늘날짜 " + year+" /", day, "좋아하는 메뉴: "+ menu, money+"원")

오늘날짜 2020 / 0113 좋아하는 메뉴: chicken 19000원

In [4]:
a = int(input("정수를 입력하세요: "))
for i in range(0, a):
    print("\n안녕")

정수를 입력하세요: 10

안녕

안녕

안녕

안녕

안녕

안녕

안녕

안녕

안녕

안녕

In [30]:
x = [3,6,9,20,-7,-5]
for i, val in enumerate(x):
    x[i] *= 10

print(x)

[30, 60, 90, 200, -70, -50]

In [36]:
x = {"math":70,"science":80,"english":20}
for i in x:
   x[i]+=10
x

{'math': 80, 'science': 90, 'english': 30}

In [41]:
a={1:[1,2,3],2:[2,3,4],3:[4,5,6]}
del a[2]
a

{1: [1, 2, 3], 3: [4, 5, 6]}